@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as m;




.success-wrapper {
    @include m.wrapper;
    height: 100vh;
    flex-direction: column;
    padding-inline: $spacing-450;
    max-width: 375px;

    @media(min-width: $query-width){
        max-width: 504px;
        max-height: 520px;
        border-radius: 36px;
        padding-inline: 64px;
    }

    &__card {

        margin-top: 149px;

        @media(min-width: $query-width){
            margin-top: 48px;
        }

        h1{
            margin-top: 40px;
            @include m.text-heading;

            @media(min-width: $query-width){
                font-size: $fs-heading-desktop;
            }
        }

        p{
            margin-top: $spacing-450;
            @include m.text-body;
        }

        button {
            margin-top: 263px;
            @include m.btn-general;
            padding: $spacing-200;
            width: 100%;

            @media(min-width: $query-width){
                margin-top: 40px;
            }

           &:hover{
            @include m.btn-hover
           }
        }

        &__email {
            font-weight: $fw-heading;
        }
    }
}